section.partners
  .container
    .partners__title
      p USED BY
    .partners__items.container-fluid
      .row
        .col-md-2.col-sm-4.col-xs-4
          .partners__item
            .partners__item__img( style="background-image: url('assets/img/partners/01.png')", data-img="assets/img/partners/01h.png")
        .col-md-2.col-sm-4.col-xs-4
          .partners__item
            .partners__item__img( style="background-image: url('assets/img/partners/02.png')", data-img="assets/img/partners/02h.png")
        .col-md-2.col-sm-4.col-xs-4
          .partners__item
            .partners__item__img( style="background-image: url('assets/img/partners/03.png')", data-img="assets/img/partners/03h.png")
        .col-md-2.col-sm-4.col-xs-4
          .partners__item
            .partners__item__img( style="background-image: url('assets/img/partners/04.png')", data-img="assets/img/partners/04h.png")
        .col-md-2.col-sm-4.col-xs-4
          .partners__item
            .partners__item__img( style="background-image: url('assets/img/partners/05.png')", data-img="assets/img/partners/05h.png")
        .col-md-2.col-sm-4.col-xs-4
          .partners__item
            .partners__item__img( style="background-image: url('assets/img/partners/06.png')", data-img="assets/img/partners/06h.png")
