.title-section
	.container
		h2.title-section__heading
			| Geared for 
			span.color-accent Success

		.title-section__graphic
			img(src="assets/img/devises1.png", alt="")

		p.title-section__text
			| Since its inception, Sirv was engineered to meet global enterprise demands. Supporting high-volume, mission-critical image delivery, the unique Enterprise features ensure your business success.