.top-banner
  .top-banner-container
    .top-banner__title
        h1
          | Build for Enterprise
    .top-banner__subtitle
        p
          | Deliver your images with unlimited scalability, rapid loading and maximum control.
    .top-banner__actions
        input.btn.btn-primary(type="button" value="start now")
        input.btn.btn-default-outline(type="button" value="video tour")
