.pricing-cta.pricing-cta--reverse
    .pricing-cta__action
        a.btn.btn-primary(href="#") 
            | START NOW
            i.fa.fa-angle-right 
    p.pricing-cta__txt Start, stop or swap plans whenever you like. We're on your side.
