section.compare-plans
    h2.compare-plans__title Compare Plans
    
    .plans
        .plan
            p.plan__title
                | Simple Pricing
            p.plan__price
                | Free / $10 / $20 / $35 / $60 / $100 / $200
            ul.plan__features
                li Soft storage limit
                li Soft data transfer limit
                li Upload via website, FTP or S3
                li Fast dynamic imaging
                li Watermarking
                li Text overlays
                li Image effects
                li Respinsive imaging
                li Animated GIF generation
                li Sirv Spin - 360 degree Spin
                li Sirv Zoom - hi-res pan & zoom
                li Automatic image optimization
                li Media library DAM
                li HTTP URL dynamic imaging
                li RESTful API
                li EXIF, IPTC and XMP metadata
                li Amazon S3 compliant storage
                li Access to all S3 SDKs
                li Unlimited domains
                li Multiple users
                li Automatic backups
                li Failover
                li Email support
        .plan
            p.plan__title
                | Hight volume plans
            p.plan__price
                | $450 / $750
            ul.plan__features
                li Soft storage limit
                li Soft data transfer limit
                li Upload via website, FTP or S3
                li Fast dynamic imaging
                li Watermarking
                li Text overlays
                li Image effects
                li Respinsive imaging
                li Animated GIF generation
                li Sirv Spin - 360 degree Spin
                li Sirv Zoom - hi-res pan & zoom
                li Automatic image optimization
                li Media library DAM
                li HTTP URL dynamic imaging
                li RESTful API
                li EXIF, IPTC and XMP metadata
                li Amazon S3 compliant storage
                li Access to all S3 SDKs
                li Unlimited domains
                li Multiple users
                li Automatic backups
                li Failover
                li Email support
                li Rapid CDN with optimized cache
                li Custom domain (CNAME)
                li Role-based user management
                li Dedicated integration support
                li Signed-URLs
        .plan
            p.plan__title
                | Enterprise
            p.plan__price
                | Custom
            ul.plan__features
                li Soft storage limit
                li Soft data transfer limit
                li Upload via website, FTP or S3
                li Fast dynamic imaging
                li Watermarking
                li Text overlays
                li Image effects
                li Respinsive imaging
                li Animated GIF generation
                li Sirv Spin - 360 degree Spin
                li Sirv Zoom - hi-res pan & zoom
                li Automatic image optimization
                li Media library DAM
                li HTTP URL dynamic imaging
                li RESTful API
                li EXIF, IPTC and XMP metadata
                li Amazon S3 compliant storage
                li Access to all S3 SDKs
                li Unlimited domains
                li Multiple users
                li Automatic backups
                li Failover
                li Email support
                li Rapid CDN with optimized cache
                li Custom domain (CNAME)
                li Role-based user management
                li Dedicated integration support
                li Signed-URLs
                li 99.99% SLA
                li Elite support
                li Dedicated  success manager
                li Deliver through your own CDN
                
