section.compare-features
    h2.compare-features__title Compare Features
    
    .features-table                
        ul.features-table__prices
            li Free
            li 10$
            li 20$
            li 35$
            li 60$
            li 100$
            li 200$
            li 450$
            li 750$
            li Custom
            
        h3 Storage, GB
        
        ul
            li 0,5 gb
            li 2 gb
            li 5 gb
            li 10 gb
            li 20 gb
            li 40 gb
            li 100 gb
            li 250 gb
            li 500 gb
            li Unlimited
            
        
        h3 Uploaded Images 
            span (if uploaded as 2500px)
        
        ul
            li 600
            li 2400
            li 6000
            li 12000
            li 24000
            li 48000
            li 120k.
            li 300k.
            li 600k.
            li Unlimited
