section.pricing-table-wrapper
    form.pricing-period
        .custom-control
            label.custom-radio
                input.custom-control-input(type='radio', value="monthly", name="pricing-period" checked)
                span.custom-control-indicator
                p Pay monthly
        .custom-control
            label.custom-radio
                input.custom-control-input(type='radio', value="zoom", name="pricing-period")
                span.custom-control-indicator
                p Pay annually
    div.pricing-table
        .pricing-item.pricing-item--current
            .pricing-item-container
                a.pricing-item__question(href="#") ?
                p.pricing-item__space
                    | 0.5 GB STORAGE
                p.pricing-item__price.pricing-item__price--text-only
                    | Free
                button.pricing-item__apply.btn.btn-primary Start now >

        .pricing-item
            .pricing-item-container
                a.pricing-item__question(href="#") ?
                p.pricing-item__space
                    | 2 GB STORAGE
                p.pricing-item__price
                    | 10
                    span / month 
                button.pricing-item__apply.btn.btn-primary Start now >
        .pricing-item
            .pricing-item-container
                a.pricing-item__question(href="#") ?
                p.pricing-item__space
                    | 5 GB STORAGE
                p.pricing-item__price
                    | 20
                    span / month 
                button.pricing-item__apply.btn.btn-primary Start now >
        .pricing-item
            .pricing-item-container
                a.pricing-item__question(href="#") ?
                p.pricing-item__space
                    | 10 GB STORAGE
                p.pricing-item__price
                    | 35
                    span / month 
                button.pricing-item__apply.btn.btn-primary Start now >
        .pricing-item
            .pricing-item-container
                a.pricing-item__question(href="#") ?
                p.pricing-item__space
                    | 20 GB STORAGE
                p.pricing-item__price
                    | 60
                    span / month 
                button.pricing-item__apply.btn.btn-primary Start now >
        .pricing-item
            .pricing-item-container
                a.pricing-item__question(href="#") ?
                p.pricing-item__space
                    | 40 GB STORAGE
                p.pricing-item__price
                    | 100
                    span / month 
                button.pricing-item__apply.btn.btn-primary Start now >
        .pricing-item
            .pricing-item-container
                a.pricing-item__question(href="#") ?
                p.pricing-item__space
                    | 100 GB STORAGE
                p.pricing-item__price
                    | 200
                    span / month 
                button.pricing-item__apply.btn.btn-primary Start now >
        .pricing-item
            .pricing-item-container
                a.pricing-item__question(href="#") ?
                p.pricing-item__space
                    | 250 GB STORAGE
                p.pricing-item__price
                    | 450
                    span / month 
                button.pricing-item__apply.btn.btn-primary Start now >
        .pricing-item
            .pricing-item-container
                a.pricing-item__question(href="#") ?
                p.pricing-item__space
                    | 500 GB STORAGE
                p.pricing-item__price
                    | 750
                    span / month 
                button.pricing-item__apply.btn.btn-primary Start now >
        .pricing-item.pricing-item--custom-plan
            .pricing-item-container
                a.pricing-item__question(href="#") ?
                p.pricing-item__space
                    | Custom
                p.pricing-item__price
                    i.fa.fa-gear
                    | ANY 
                    span STORAGE
                button.pricing-item__apply.btn.btn-primary Start now >
