section.regular-questions
    h2.regular-questions__title
        | Regular questions 
    .questions
        .question
            h2.question__title How do I pay for Sirv?
            p.question__text
                | We accept all major credit cards. We also accept payment by bank transfer for annual plans(we will invoice you with 30-day payment terms).
        .question
            h2.question__title How long is the contract?
            p.question__text 
                | There’s no contract on the monthly plans – pay as you go, cancel any time. If you pay annually, there is a one-year contract. You can choose to renew or cancel at the end of every year.
        .question
            h2.question__title When do I start paying?
            p.question__text
                | Your account will be created on the Free plan. You can choose a payment plan when you’re ready. Go to your account page, choose a plan and  enter your billing details.
        .question
            h2.question__title Can I swap plans?
            p.question__text 
                | You can upgrade or downgrade at any time. Your files will always be safe and backed up many times over, so we encourage you to use Sirv for all your projects.
        .question
            h2.question__title What is burstable storage?
            p.question__text 
                | Sirv gives you an extra “burstable” storage allowance so you don’t need to worry about running out of space. Just return to within your storage allowance or upgrade your plan within 30 days.
        .question
            h2.question__title Is there a traffic limit?
            p.question__text 
                | Rather than traffic limits, Sirv has a fair usage bandwidth policy. Each plan has a burstable (unlimited) bandwidth allowance. Sites that generate unusually large amounts of traffic may be required to upgrade their Sirv plan.
