.pricing-cta
    p.pricing-cta__txt Whether you’re a multinational retailer or just starting out, we offer a range of plans to suit your needs
    .pricing-cta__action
        a.btn.btn-primary(href="#")
            | START NOW
            i.fa.fa-angle-right 
        p No credit card required
