nav.navbar.main-nav.main-nav--front-page
    .main-nav-container
        //- Brand and toggle get grouped for better mobile display
        //- .navbar-header
        .main-nav__brand
            button.navbar-toggle( type="button")
                i.fa.fa-bars
            a(href='#')
                include ../modules/logo
        //- Collect the nav links, forms, and other content for toggling
        #menu.navigation
            ul.nav.navbar-nav.navigation__auth
                li.nav-item
                    button.btn.btn-primary(href='#') START NOW
                li.nav-item
                    a(href='#') Log in

            ul.nav.navbar-nav.navigation__menu
                li.nav-item.active
                    a(href='#')
                        | Features 
                        span.sr-only (current)
                li.nav-item
                    a(href='#') Pricing
                li.nav-item
                    a(href='#') Demos
                li.nav-item
                    a(href='#') Partners
                li.nav-item
                    a(href='#') Docs
                li.nav-item
                    a(href='#') Help
                li.nav-item
                    a(href='#') Contact
                li.nav-item.nav-item-separator
                    | |
