meta(charset='UTF-8')
meta(name='viewport' content="width=device-width, initial-scale=1")
title Sirv.com new UI
link(rel='icon' type='image/x-icon' href='assets/icons/favicon.ico')
	
//- FONT AWSOME
link(rel='stylesheet' href='components/font-awesome/css/font-awesome.min.css')

//- BOOTSTRAP 
link(rel='stylesheet' href='styles/sirv-com-theme.css')

//- CUSTOM STYLES
link(rel='stylesheet' href='styles/main.css')
