//- COMPONENTS 
script(type='text/javascript' src='components/jquery/dist/jquery.min.js')
script(type='text/javascript' src='components/bootstrap/dist/js/bootstrap.min.js')
script(type='text/javascript' src='components/highlightjs/highlight.pack.min.js')
script hljs.initHighlightingOnLoad();
//- script(type='text/javascript' src='components/zeroclipboard/dist/zeroclipboard.min.js')
