script(type='text/javascript' src='assets/scripts/jquery.min.js')
script(type='text/javascript' src='assets/scripts/bootstrap.min.js')
script(type='text/javascript' src='assets/scripts/scripts.min.js')
