.article
    color: $article-text-color
    h2
        color: $article-title-color
        font-weight: 400
        font-size: 2.2rem
        padding-bottom: 1.5rem
    a
        font-weight: 600
        font-size: $article-link-font-size
    p,
    img,
    .code
        margin-bottom: 2rem
