.navigation
    position: fixed
    right: 0
    left: 0
    z-index: 1030
    border-color: transparent
    +transition(all, .4s)
    border-radius: 0


    &-menu
        +clearfix()
        .navbar-nav
            float: right
            line-height: 42px
            +clearfix
            .nav-item
                margin-left: 2rem
                color: #fff
        &.navigation-menu--mobile
            left: 0
        @media(max-width: #{map-get($grid-breakpoints, md)})
            position: fixed
            width: 70%
            top: 0px
            bottom: 0px
            padding-top: 1rem
            background: white
            left: -70%
            +transition(all,.4s)

            .navbar-nav
                padding-right: 1rem
                padding-left: 2rem
                .nav-item
                    margin-left: 0



    &__auth
        a
            color: $menu-text-dark
        &.navbar-nav
            @media(max-width: #{map-get($grid-breakpoints, md)})
                display: block
                float: none
                .nav-item
                    display: block
                    float: none

        .btn
            color: white
            vertical-align: baseline


    &__menu
        a
            color: $menu-text-light

        &.navbar-nav
            @media(max-width: #{map-get($grid-breakpoints, md)})
                display: block
                float: none
                border-top: 1px solid $border-grey
                .nav-item
                    display: block
                    float: none
                    a
                        color: $menu-text-dark


    .navbar-brand
        float: left
        @media(max-width: #{map-get($grid-breakpoints, md)})
            width: 100%


        .navbar-toggle
            float: right
            @media(min-width: #{map-get($grid-breakpoints, md)})
                display: none


    .navbar-container
        padding-top: .8rem
        max-width: map-get($container-max-widths, xl)
        +transition(all, .4s)
        +center-block()
        +clearfix()


    &.bg-white
        box-shadow: 1px 5px 10px rgba(0, 0, 0, .1)
        .navbar-container
            padding-top: 0

    &.navbar-light
        .navbar-nav
            .nav-item
                color: $menu-text-dark
            a
                color: $menu-text-dark
        .navigation__auth
            .btn
                color: white
