extends ../layout

block content
    .container.p-a-2
        h2.m-b-2 Buttons

        // Provides extra visual weight and identifies the primary action in a set of buttons
        button.btn.btn-primary(type='button') Primary
        // Secondary, outline button
        button.btn.btn-secondary(type='button') Secondary
        // Indicates a successful or positive action
        button.btn.btn-success(type='button') Success
        // Contextual button for informational alert messages
        button.btn.btn-info(type='button') Info
        // Indicates caution should be taken with this action
        button.btn.btn-warning(type='button') Warning
        // Indicates a dangerous or potentially negative action
        button.btn.btn-danger(type='button') Danger
        // Deemphasize a button by making it look like a link while maintaining button behavior
        button.btn.btn-link(type='button') Link
        
        h2.m-b-2.m-t-2 Buttons outline
        
        button.btn.btn-outline-primary(type='button') Primary
        button.btn.btn-outline-secondary(type='button') Secondary
        button.btn.btn-outline-success(type='button') Success
        button.btn.btn-outline-info(type='button') Info
        button.btn.btn-outline-warning(type='button') Warning
        button.btn.btn-outline-danger(type='button') Danger

        h2.m-b-2.m-t-2 Buttons sizes
        
        button.btn.btn-outline-primary.btn-lg Large button
        button.btn.btn-outline-primary Regular button
        button.btn.btn-outline-primary.btn-sm Small button
        

        h2.m-b-2.m-t-2 Forms
        
        form
            fieldset.form-group
                label(for='exampleInputEmail1') Email address
                input#exampleInputEmail1.form-control(type='email', placeholder='Enter email')
                small.text-muted We'll never share your email with anyone else.
            fieldset.form-group
                label(for='exampleInputPassword1') Password
                input#exampleInputPassword1.form-control(type='password', placeholder='Password')
            fieldset.form-group
                label(for='exampleSelect1') Example select
                select#exampleSelect1.form-control
                    option 1
                    option 2
                    option 3
                    option 4
                    option 5
            fieldset.form-group
                label(for='exampleSelect2') Example multiple select
                select#exampleSelect2.form-control(multiple='')
                  option 1
                  option 2
                  option 3
                  option 4
                  option 5
            fieldset.form-group
                label(for='exampleTextarea') Example textarea
                textarea#exampleTextarea.form-control(rows='3')
            fieldset.form-group
                label(for='exampleInputFile') File input
                input#exampleInputFile.form-control-file(type='file')
                small.text-muted
                    | This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.
            .radio
                label
                    input#optionsRadios1(type='radio', name='optionsRadios', value='option1', checked='')
                    |       Option one is this and that—be sure to include why it's great
            .radio
                label
                    input#optionsRadios2(type='radio', name='optionsRadios', value='option2')
                    |       Option two can be something else and selecting it will deselect option one
            .radio.disabled
                label
                    input#optionsRadios3(type='radio', name='optionsRadios', value='option3', disabled='')
                    |       Option three is disabled
            .checkbox
                label
                    input(type='checkbox')
                    |  Check me out
            button.btn.btn-primary(type='submit') Submit

        h2#form-sizing.m-b-2.m-t-2 Forms sizing

        input.form-control.form-control-lg.m-b-1(type='text', placeholder='.form-control-lg')
        input.form-control.m-b-1(type='text', placeholder='Default input')
        input.form-control.form-control-sm.m-b-1(type='text', placeholder='.form-control-sm')

        div(style="height: 2000px")
