extends ../layout

block content

    include ../structure/header
    .page-wrapper.page-wrapper--has-sidebar
        include ../modules/sidebar
        main.content-wrapper
            section
                h1 DYNAMIC IMAGING DOCUMENTATION:
                ul
                    li Learn how to create images on-the-fly with Sirv
                    li It's fast and easy - no technical knowledge required
            article
                header
                    h2 Before you start
                p The bigger your original image, the more options you’ll have.
                p For best results, upload images of:
                ul
                    li At least 2500px width
                    li if JPEG, 92% to 96% quality
                p Sirv works with any image, regardless of type, size or quality. It automatically resizes and optimizes your images according to the users device. By uploading big, high quality images, you’ll ensure that Sirv always delivers superb quality Sirv Zooms and permit glorious clarity on hi-res screens.
                
            article
                header
                    h2 Before you start
                p The bigger your original image, the more options you’ll have.
                p For best results, upload images of:
                ul
                    li At least 2500px width
                    li if JPEG, 92% to 96% quality
                p Sirv works with any image, regardless of type, size or quality. It automatically resizes and optimizes your images according to the users device. By uploading big, high quality images, you’ll ensure that Sirv always delivers superb quality Sirv Zooms and permit glorious clarity on hi-res screens.
                
            
    
    include ../modules/footer
