extends ../layout

block content

  include ../structure/header
  .page-wrap
        include ../modules/top-banner
        include ../modules/title-section
        include ../modules/partners
        include ../modules/features
        include ../modules/cta
    include ../modules/footer
