extends ../layout--landing

block content

    .page-wrapper
        include ../structure/header
        include ../modules/top-banner
        include ../modules/title-section
        include ../modules/partners
        include ../modules/features
        include ../modules/cta-btn
        .container
            include ../modules/cta-card
    include ../modules/footer
