extends ../layout

block content
  .off-canvas-wrapper
    .off-canvas-content
      .page-wrapper
        include ../structure/header
        .pricing
            h1.page-title Pricing
            
            include pricing-modules/top-cta
                    
            include pricing-modules/pricing-table
            
            include pricing-modules/compare-features
            
            include pricing-modules/compare-plans
            
            include pricing-modules/bot-cta
            hr
            include pricing-modules/regular-questions       
        include ../structure/footer
    include ../modules/off-canvas-menu
