doctype html
html(lang='en')
  head
    include structure/head

  body.off-canvas-sidebar
    block content
    .overflow
    include structure/scripts
    script(type='text/javascript' src='scripts/doc-scripts.js')
