.container
  .card.cta-card
    h3.card-title
      | Need a demo?
    .cta-card__container
      p.card-text
        | Discover how Sirv can help achieve your business goals.  A product expert will demonstrate its capabilities, tailored to your needs. Streamline operations, raise web conversions, accelerate page loading...
        span Arrange a demo now.
      a.btn.btn-primary(href="#")
        | Contact as
      
