.container.features.section-padding
    .row

        .col-xs-12.col-md-4
            .features__item
                include icons/graph
                h3 Success program
                p Our Enterprise success program supports your imaging needs from the outset. Packed with talent, our team use their expertise and experience to help develop an imaging strategy to support your business goals. Together, we will ensure success from the start and keep you ahead of the curve for the future.
        .col-xs-12.col-md-4
            .features__item
                include icons/rocket
                h3 CDN
                p Strengthen your competitive edge with faster image delivery to your customers. The Sirv Enterprise CDN mirrors images across multiple regions, for minimal latency. Not only does it improve customer enga- gement, it contributes to higher conversions and improved search ranking.
        .col-xs-12.col-md-4
            .features__item
                include icons/lock
                h3 Disaster proof
                p Stay operational and protect your business assets. Sirv Enterprise guarantees the safety of your media library, with multi-location backup and failover. Even a major disaster would result in zero loss of images, while failover image delivery keeps your images live while issues are resolved.

        .col-xs-12.col-md-4
            .features__item
                include icons/bage
                h3 100% SLA
                p Deliver your images without a single lost request. The Sirv Enterprise SLA guarantees 100% uptime of the service for absolute reliability. It defines the Sirv rapid response measures and our warranty to you in the event of an outage.
        .col-xs-12.col-md-4
            .features__item
                include icons/person
                h3 Elite suppert
                p Direct access to a named customer success executive, appointment booking, and semi-annual business reviews form part of the Enterprise support package. The support agreement guarantees rapid response time and an efficient resolution process.
        .col-xs-12.col-md-4
            .features__item
                include icons/house
                h3 Custom domains
                p Customize your URLs by using your own company subdomain or a dedicated domain. Enterprise accounts can choose to have all images served from their domain instead of sirv.com.
