footer.footer
  .footer__copy
  .footer__nav
    nav.nav.nav-pills
      a.nav-pill.active(href='#') Active
      a.nav-pill(href='#') Link
      a.nav-link(href='#') Another link
      a.nav-link.disabled(href='#') Disabled
