footer.footer
    .container
        .footer__copy
            | Copyright © 2015 Sirv Limited. All rights reserved
        .footer__nav
            nav.nav.nav-inline
                a.nav-link.active(href='#') Active
                a.nav-link(href='#') Link
                a.nav-link(href='#') Another link
                a.nav-link.disabled(href='#') Disabled
