.off-canvas-menu
  .off-canvas-menu-wrapper
    //- Client
    ul.nav.nav--client
      li.nav-item
        button.btn.btn-primary(href='#') START NOW
      li.nav-item
        a.nav-link(href='#') Log in
    .nav-divider
    ul.nav
      li.nav-item.active
        a.nav-link(href='#')
          | Features 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='pricing.html') Pricing
      li.nav-item
        a.nav-link(href='#') Demos
      li.nav-item
        a.nav-link(href='#') Partners
      li.nav-item
        a.nav-link(href='knowledge-base.html') Docs
      li.nav-item
        a.nav-link(href='#') Help
      li.nav-item
        a.nav-link(href='contact.html') Contact
          
