.top-banner
  .top-banner-container
    .top-banner__title
        h1
          | Build for Enterprise
    .top-banner__subtitle
        p
          | Deliver your images with unlimited scalability, rapid loading and maximum control.
    .top-banner__actions
        button.btn.btn-primary.btn-lg(type="button" value="start now")
            | START NOW
        button.btn.btn-outline-light.btn-lg(type="button" value="video tour")
            | VIDEO TOUR
