svg#svg_icon(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='91px', height='91px', viewbox='0 0 91 91', enable-background='new 0 0 91 91', xml:space='preserve')
  path(fill='#327BBA', stroke='#327BBA', stroke-width='0.3', stroke-miterlimit='10', d='M45.5,91C20.411,91,0,70.589,0,45.5\
  C0,20.411,20.411,0,45.5,0S91,20.411,91,45.5C91,70.589,70.589,91,45.5,91z M45.5,1C20.962,1,1,20.962,1,45.5\
  C1,70.037,20.962,90,45.5,90C70.037,90,90,70.037,90,45.5C90,20.962,70.037,1,45.5,1z')
  path(fill='#327BBA', stroke='#327BBA', stroke-width='0.7', stroke-miterlimit='10', d='M58.32,66.24H39.463\
  c-0.202,0-0.366-0.166-0.366-0.371V51.436c0-0.205,0.164-0.371,0.366-0.371h10.667c0.202,0,0.367,0.166,0.367,0.371v8.661\
  c0,0.205-0.164,0.371-0.367,0.371s-0.367-0.166-0.367-0.371v-8.29H39.83v13.692h18.49c1.762,0,3.189-1.45,3.189-3.227V40.434\
  L45.503,25.625L29.491,40.434v19.669c0,0.205-0.164,0.371-0.366,0.371c-0.202,0-0.367-0.166-0.367-0.371V40.268\
  c0-0.105,0.044-0.205,0.12-0.271l16.378-15.141c0.137-0.127,0.356-0.127,0.492,0l16.373,15.141c0.077,0.072,0.12,0.172,0.12,0.271\
  v22.004C62.242,64.458,60.481,66.24,58.32,66.24z')
