svg#svg_icon(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='91px', height='91px', viewbox='0 0 91 91', enable-background='new 0 0 91 91', xml:space='preserve')
  path(fill='#327BBA', stroke='#327BBA', stroke-width='0.3', stroke-miterlimit='10', d='M45.5,91C20.411,91,0,70.589,0,45.5\
  C0,20.411,20.411,0,45.5,0S91,20.411,91,45.5C91,70.589,70.589,91,45.5,91z M45.5,1C20.962,1,1,20.962,1,45.5\
  C1,70.037,20.962,90,45.5,90C70.037,90,90,70.037,90,45.5C90,20.962,70.037,1,45.5,1z')
  path(fill='#327BBA', stroke='#327BBA', stroke-width='0.7', stroke-miterlimit='10', d='M55.573,66.61\
  c-1.053,0-2.151-0.145-3.343-0.447c-1.331-0.335-2.168-0.982-2.8-2.166c-0.549-1.061-0.815-2.25-1.02-3.289\
  c-0.039-0.201-0.078-0.396-0.116-0.592c-0.288-1.446-0.588-2.937,0.05-4.439c0.144-0.369,0.333-0.698,0.516-1.016\
  c0.111-0.19,0.216-0.374,0.31-0.558c0.576-1.156,0.36-2.758-0.516-3.897c-0.737-1.016-1.929-1.614-3.205-1.614\
  s-2.467,0.603-3.194,1.608c-0.987,1.357-0.987,2.887-0.565,3.735c0.116,0.257,0.255,0.491,0.383,0.72\
  c0.155,0.273,0.316,0.553,0.438,0.849c0.643,1.53,0.36,3.16,0.111,4.595c-0.067,0.329-0.116,0.67-0.166,0.994\
  c-0.111,0.765-0.227,1.552-0.543,2.312c-0.377,0.977-1.192,1.664-1.807,2.066c-1.63,1.094-3.681,1.172-5.078,1.133\
  c-2.29-0.061-3.958-0.62-4.957-1.664c-0.904-0.96-0.954-2.239-0.998-3.367v-0.022c-0.039-1.362-0.083-2.68-0.122-3.998l-0.006-0.173\
  c-0.028-1.296-0.017-2.591-0.011-3.847c0.006-0.637,0.011-1.279,0.011-1.926c0-0.212,0.166-0.38,0.377-0.38\
  c0.211,0,0.377,0.168,0.377,0.38c0,0.648-0.005,1.29-0.011,1.932c-0.011,1.245-0.017,2.54,0.011,3.819l0.006,0.168\
  c0.039,1.318,0.083,2.635,0.122,3.998v0.017c0.039,1.044,0.083,2.122,0.793,2.87c0.854,0.894,2.345,1.374,4.43,1.429\
  c2.063,0.056,3.537-0.268,4.646-1.01c0.527-0.346,1.214-0.916,1.525-1.714c0.283-0.675,0.382-1.39,0.499-2.139\
  c0.05-0.335,0.1-0.681,0.166-1.022c0.244-1.39,0.499-2.837-0.061-4.16c-0.105-0.257-0.25-0.502-0.399-0.765\
  c-0.139-0.246-0.283-0.497-0.41-0.771c-0.516-1.033-0.538-2.892,0.638-4.512c0.87-1.2,2.295-1.915,3.803-1.915\
  s2.933,0.715,3.803,1.915c1.042,1.351,1.286,3.283,0.588,4.69c-0.105,0.207-0.222,0.408-0.333,0.603\
  c-0.177,0.307-0.344,0.597-0.466,0.91c0,0.006-0.006,0.011-0.006,0.017c-0.549,1.284-0.288,2.602-0.006,3.992\
  c0.039,0.201,0.078,0.402,0.117,0.597c0.194,0.977,0.444,2.111,0.948,3.076c0.527,0.983,1.198,1.502,2.318,1.787\
  c1.27,0.318,2.423,0.458,3.526,0.419c2.151-0.056,3.598-0.525,4.43-1.429c0.715-0.76,0.754-1.792,0.793-2.887\
  c0-0.005,0-0.011,0-0.017c0.083-1.379,0.128-2.736,0.128-4.143c0.055-2.367,0.022-4.768-0.006-7.091\
  c-0.017-1.385-0.033-2.814-0.033-4.216c0-2.043-1.652-3.702-3.676-3.702h-22.97c-0.1,0-0.2-0.039-0.266-0.112\
  c-0.072-0.072-0.111-0.167-0.111-0.273l0.083-5.801c0.005-7.594,5.112-13.78,11.393-13.78s11.388,6.226,11.388,13.875\
  c0,0.212-0.166,0.38-0.377,0.38s-0.377-0.168-0.377-0.38c0-7.231-4.774-13.116-10.634-13.116c-5.866,0-10.639,5.846-10.639,13.032\
  l-0.078,5.422h22.582c2.445,0,4.43,2.004,4.43,4.461c0,1.396,0.017,2.825,0.033,4.205c0.028,2.328,0.061,4.735,0.006,7.108\
  c0,1.418-0.044,2.786-0.128,4.182c-0.044,1.128-0.094,2.412-0.998,3.372c-0.976,1.056-2.6,1.603-4.956,1.664\
  C55.834,66.61,55.706,66.61,55.573,66.61z')
