html,
body
  height: 100%
body
  font-family: $opensans

hr
  border-color: #dadde0

.page-wrap
  min-height: 100%
  margin-bottom: -3rem 

.page-wrap:after 
  content: ""
  display: block
  height: 3rem 
