// FONTS

$yantra: 'Yantramanav', sans-serif
$opensans: 'Open Sans', sans-serif

// COLORS

$white: #fff
$black: #000
$blue: #4188b8
$grey: #535454
$grey-light: #adadad


// Menu
$menu-text-light: #fff
$menu-text-dark: $grey-light
$menu-text-active: $black


// Text
$text-grey: #535454
$border-grey: #e6e7e8


// Background
$background-white: #fff
$background-grey: #f7fafc


// Langin page
$header-grey: #566578
$another-headr-color: #5d6d81


$main-text-color: #65758a

$divider-text-color: #5d6d81
$divider-line-color: #dadde0

$button-blue: #3688b7


// Contact page
$contact-page-text-grey: #9e9e9e
$contact-page-input-text: #8c8c8c
$contact-page-text-accent: #3a7fae
$contact-page-icons: #69a4c8

$contact-page-border: #dedede
$contact-page-input-bordr: #d0d0d0
