// FONTS
$yantra: 'Yantramanav', sans-serif
$opensans: 'Open Sans', sans-serif

// COLORS
$white: #fff
$black: #000
$blue: #4188b8
$grey: #535454
$grey-light: #adadad


// GRID MAX WIDTHS
$grid-max-breakpoints: ( xs: 0, sm: 543px, md: 767px, lg: 991px, xl: 1199px ) !default


// Menu
$menu-text-white: #fff
$menu-text-dark: $grey-light
$menu-text-active: $grey

$menu-mobile-hover-bg: rgba(210, 210, 210, 0.6)
$menu-mobile-active-bg: rgba(210, 210, 210, 0.8)


// Text
$text-grey: #65758a


// Borders
$border-grey: #e6e7e8


// Background
$background-grey: #f7fafc



// HEADER
$header-shadow: 1px 5px 10px 0 rgba(0, 0, 0, .1)
$header-shadow-mobile: 5px 0px 10px 0 rgba(0,0,0,0.1)

// SIDEBAR

$sidebar-items-shift-0: 1rem
$sidebar-items-shift-1: .5rem


$sidebar-title: rgba(86, 101, 120, .6)
$sidebar-nav-color: rgb(86, 101, 120)
$sidebar-subnav-color: rgba(86, 101, 120, .7)

$sidebar-items-background: #ecf3f8


// Article

$article-title-color: #778596
$article-text-color: #65758a
$article-text-accent-color: $article-title-color

$article-link-font-size: 1.072rem

// Pricing page
$pricing-helpers-txt: rgba(56, 56, 56, .8)
$pricing-txt-accent: #566578
