doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Sirv.com new UI
        link(rel='stylesheet', href='assets/styles/main.css')
    body
        p 
            | go to 
            a(href="landing-enterprise.html" target="_blank") Enterprise landing
        p 
            | go to 
            a(href="knowledge-base.html" target="_blank") knowledge base
